requests
python-dotenv
pandas
evmdasm
tqdm
selenium
webdriver_manager
beautifulsoup4
lxml
json-lines
undetected-chromedriver
webdriver-manager
slither-analyzer
matplotlib
openpyxl
sortedcontainers
networkx